*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  max-width: 812px;
  margin: auto;
}

nav {
  text-align: center;
}

.left-arrow {
  position: absolute;
  left: 10px;
  color: #70B4FF;
  padding: 5px;
  padding-top: 150px;
  padding-left: 50px;
}

img {
  width: 100%;
}

h1 {
  display: inline-block;
  font-size: 3em;
  padding: 5px;
  padding-top: 150px;
  padding-bottom: 60px;
}

ul {
  padding-left: 50px
}

li:after {
  content: "";
  display: table;
  clear: both;
}

li {
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: solid;
  border-bottom-color: #70B4FF;
  border-bottom-width: thin;
}

.bus {
  float: left;
  width: 70%;
  font-size: 2em;
  padding-top: 15px;
}

span {
  display: inline-grid;
  padding-left: 12px;
  padding-top: 25px;
}

.num {
  display: inline-grid;
  padding-left: 20px;
  padding-top: 25px;
  padding-right: 15px;
  text-align: center;
}

.num_ {
  display: inline-grid;
  padding-left: 30px;
  padding-top: 25px;
  padding-right: 15px;
  text-align: center;
}

.destination {
  display: inline-grid;
  padding-left: 25px;
  vertical-align: middle;
}

.alert {
  display: inline;
  padding-left: 10px;
  vertical-align: middle;
  color: #FFAC70;
}

.arriving {
  float: right;
  width: 30%;
  text-align: right;
  padding-top: 15px;
}

.number {
  display: inline-block;
  padding-top: 15px;
  vertical-align: super;
  font-size: 2em;
}

.resumes {
  display: inline-block;
  font-size: 2em;
  padding-right: 25px;
}

.n-a {
  display: inline-block;
  padding-top: 15px;
  padding-right: 25px;
  vertical-align: super;
  font-size: 2em;
}

.min {
  display: inline-block;
  padding-top: 15px;
  padding-right: 25px;
  padding-left: 5px;
  color: #333333;
  font-size: 1.5em;
  vertical-align: super;
}

.right-arrow {
  color: #70B4FF;
  padding-right: 15px;
  padding-top: 10px;
}

.circle {
  height: 80px;
  width: 80px;
  background-color: #D5E9FE;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}
