*, *:before, *:after {
  box-sizing: border-box;
}

nav {
  text-align: center;
}

.left-arrow {
  position: absolute;
  left: 10px;
}

img {
  width: 100%;
}

h1 {
  display: inline;
}

.bus {
  display: inline;
  width: 50%;
}

.arriving {
  display: inline;
}
